@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-dark: #011f4b;
  --color-brand-green: #03396c;
  --color-brand-teal: #005b96;
  --color-brand-lime: #6497b1;
  --color-brand-soft: #b3cde0;

  --color-primary: var(--color-brand-teal);
  --color-secondary: var(--color-brand-green);
  --color-accent: var(--color-brand-lime);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #011f4b;
}

.dark {
  --background: #011f4b;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}
