@import "tailwindcss";

@theme {
  --color-brand-dark: #002D2D;
  --color-brand-lime: #95BF47;
  --color-brand-green: #5E8E3E;
  --color-brand-teal: #008060;

  --color-primary: var(--color-brand-teal);
  --color-secondary: var(--color-brand-green);
  --color-accent: var(--color-brand-lime);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #002D2D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002D2D;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}